<ion-view view-title="house" hide-nav-bar="true">
  <div class="bar bar-header bar-clear">
    <button class="button-clear" ng-click="goToIndex()"><i class="icon ion-ios-arrow-left" style="color:#fff;"></i></button>
    <div class="h1 title" style="font-family: '华文细黑';">获取优惠</div>
  </div>

  <ion-content style="background-image: url('img/hqyh.jpg');width:100%;height:100%;background-size: cover;" >
    <div style="position:absolute; width: 100%;height:100%;top:44px;">
      <div style="background: url('img/yh.jpg') no-repeat center center;position:relative; margin: 0 auto;width:18em;margin-top:2em;margin-bottom:2em;min-height: 10em; background-size: contain;">
        <!--<img src="img/yh.jpg" style="display:block;padding:6vh 10vw 2vh 10vw;width:100%;height:auto;" />-->
        <span style="font-size: 1.2em;color:#fff;position:absolute;right:2em;top:3.8em;" ng-show="house_discount.house_discount_info">{{house_discount.house_discount_info}}</span>
        <span style="font-size: 1.2em;color:#fff;position:absolute;right:2em;top:3.8em;" ng-show="!house_discount.house_discount_info">优惠</span>
      </div>

      <p style="font-family: '华文细黑';font-size:4vw;line-height:2em;color:#fff;margin:1vh 4vw;padding: .2em .6em;border:1px dashed #fff;border-radius: .3em;" ng-show="house_discount.house_discount_description">{{house_discount.house_discount_description}}</p>

      <div class="padding hqyh" >
        <label class="item-input item-stacked-label">
          <span class="input-label" style="color:#555;">电话：</span>
          <input type="tel" ng-change="modifyTel()" ng-pattern="/^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/" ng-minlength="11" ng-maxlength="11" ng-required="true" placeholder="请输入电话号码" ng-model="reservation.customer_telephone" style="background: none;border-bottom: 1px solid rgba(256,256,256,.5);">
          <button data-tap-disabled="true"  ng-click="getVerifyCode(reservation.customer_telephone)" ng-show="!showVerifyCode" class="button button-energized" style="position:absolute;top:1em;right:0;min-height:30px;font-size: 1em;font-family: '华文细黑';padding: 0 .4em;color:#000;" ng-disabled="verifyBtn">{{verifyBtnText}}</button>
        </label>
        <label class="item-input item-stacked-label" ng-if="!showVerifyCode">
          <span class="input-label" style="color:#555;">验证码：</span>
          <input type="text" ng-model="reservation.code" placeholder="请输入验证码" style="background: none;border-bottom: 1px solid rgba(256,256,256,.5)">
          <input type="hidden" ng-model="code" />
        </label>
        <!--<button class="button button-full button-energized" ng-click="createReservation()" style="color:#000;font-family: '华文细黑';" ng-disabled="(reservation.customer_telephone == parseInt($scope.house_discount.customer_telephone))" >确定</button>-->
        <button class="button button-full button-energized" ng-click="createReservation()" style="color:#000;font-family: '华文细黑';" ng-disabled="(reservation.customer_telephone == parseInt(house_discount.customer_telephone)) || (reservation.customer_telephone != reservation.default_telephone && !reservation.code)">确定</button>
      </div>





      <!--<input type="tel" ng-model="reservation.default_telephone" style="background: none;border-bottom: 1px solid rgba(256,256,256,.5);">-->

      <!--<div>{{reservation.customer_telephone}}</div>-->
      <!--<div>{{reservation.default_telephone}}</div>-->
      <!--<div>{{house_discount.customer_telephone}}</div>-->



    </div>
  </ion-content>
</ion-view>
