<ion-view hide-nav-bar="true" style="background-color: #f8f8f8;">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goToIndex()"></button>
    <div class="h1 title" style="font-family: '华文细黑';">{{lpInfo.house_name}}</div>
  </div>

  <div style="margin-top:44px;height:36vh;background-color: #fff;padding-top:1px;">
    <h4 style="padding-left:1em;font-size: 1.2em;font-family: '华文细黑';">户型介绍</h4>
    <ion-slides options="options" slider="slider" style="width:100%">
      <ion-slide-page ng-repeat="slider in sliderArr" ng-click="goToHx(slider.apartment_id)" style="background-color: #fff;padding-bottom: 3.6rem;">
        <img ng-src="{{slider.image}}" alt="{{slider.apartment_title}}" style="border:1px solid #ddd; display: block;margin:0 auto;" />
        <p style="text-align: center;padding: 0.4rem 0;" ng-bind="slider.apartment_title"></p>
        <!--<p style="margin:0;">售价：<span style="color:#f62e2e;font-weight: 700;" ng-bind="slider.price"></span></p>-->
        <!--<p>栋号：{{slider.ldId}}</p>-->
        <!--<p style="margin:0;" ng-bind-html="slider.label"></p>-->
      </ion-slide-page>
    </ion-slides>
  </div>

  <ion-content style="top:52%;height:44vh;background-color: #fff;" scroll="false">
    <h4 style="padding-left:1em;font-size: 1.2em;font-family: '华文细黑';">楼栋信息</h4>
    <ion-scroll  direction="xy" id="map_c content" style="width:100%;height:100%; overflow: scroll;" min-zoom="0.3" max-zoom="2" zooming="true">
      <div style="background: url({{lpInfo.house_distribution_image_source_url}})"  ng-style="{width:map.px + 'px',height: map.py + 'px'}" ng-click="goToLd()">
        <div class="ldLabel" ng-repeat="ldLabel in map.ld" ng-style="{top: (ldLabel.building_position_y - 50)  + 'px',left: (ldLabel.building_position_x - 44) + 'px'}">{{ldLabel.building_name}}</div>
      </div>
    </ion-scroll>
  </ion-content>


</ion-view>
