<ion-view hide-nav-bar="true" style="background-color: #f8f8f8;">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="h1 title" style="font-family: '华文细黑';">楼栋</div>
  </div>

  <ion-content class="has-header" style="height:54%;background-color: #fff;" scroll="false">
    <ion-scroll  direction="xy" id="map_content" style="width:100%;height:100%; overflow: scroll;" min-zoom="0.3" max-zoom="2" zooming="true">
      <div style="background: url({{lpInfo.house_distribution_image_source_url}})"  ng-style="{width:map.px + 'px',height: map.py + 'px'}">
        <div class="" ng-repeat="ldLabel in map.ld">
            <div class="ldLabel" ng-style="{top: (ldLabel.building_position_x - 50)  + 'px',left: (ldLabel.building_position_x - 44) + 'px'}">
              <span style="height:3em;">{{ldLabel.building_name}}</span>
              <div class="hxLabel">
                <p ng-repeat="hx in ldLabel.apartments">{{hx.apartment_title}}</p>
              </div>
            </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
  <div style="position:absolute;top:64%;left:5%;width:90%;height:26%;padding:1.2em;background-color: #fff;border-radius: .5em;">
    <ion-slides options="options" slider="slider" style="height:100%;">
      <ion-slide-page ng-repeat="ld in map.ld" >
        <p style="font-size: 1.1em;">楼栋：<span ng-bind="ld.building_name"></span></p>
        <p style="font-size: 1.1em;">户型：<span ng-repeat="hx in ld.apartments">{{hx.apartment_title}}&nbsp;&nbsp;</span></p>
        <p style="font-size: 1.1em;"><span>{{ld.building_unit}}个单元</span>&nbsp;&nbsp;<span>{{ld.building_floor}}层</span>&nbsp;&nbsp;<span>{{ld.building_family}}户</span></p>
      </ion-slide-page>
    </ion-slides>
  </div>

</ion-view>
