<div class="bar bar-header">

  <button class="button button-icon icon ion-ios-arrow-left" ng-click="goToIndex()"></button>
  <h1 class="title">{{house_name}}</h1>
  <button class="button button-clear" ng-click="getPosition()"><i class="icon ion-ios-navigate-outline"></i></button>
</div>
<ion-view hide-nav-bar="true">
  <ion-content class="has-header has-footer" scroll="false">
    <div style="width:100%;height: 100%;background-color: #f8f8f8;" id="allmap"></div>
  </ion-content>
  <!--<ion-footer-bar align-title="center" class="bar-dark" style="padding:0;height:48px;">-->
    <!--<div class="row" style="padding:0;margin:0;margin:0 auto;text-align: center;">-->
      <!--<div class="col" style="padding-left:0;padding-right:0;" ng-repeat="zbpt in zbpts">-->
        <!--<div  ng-style="{ 'background-image': 'url(' + zbpt.imgOff + ')' }" style="display:inline-block;background-repeat: no-repeat;height: 50%;background-size: 80%;background-position: 50% 0;"  ng-click="getPosition(zbpt.type)">-->
          <!--<h5 style="color:#fff;padding-top: 12px;">{{zbpt.type}}</h5>-->
        <!--</div>-->
        <!--&lt;!&ndash;<button class="button button-dark" ng-click="getPosition(zbpt.type)">{{zbpt.type}}</button>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</ion-footer-bar>-->
</ion-view>
<ion-tabs class="tabs-icon-top" style="background-color: #000 !important;">
    <ion-tab ng-repeat="zbpt in zbpts" title="{{zbpt.type}}" icon-on="{{zbpt.iconOn}}" icon-off="{{zbpt.icon}}" ng-click="getPosition(zbpt.type,lat,lon)"></ion-tab>
</ion-tabs>
