<ion-view hide-nav-bar="true" style="background-color: #f8f8f8;">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBackIndex()"></button>
    <div class="h1 title" style="font-family: '华文细黑';">我的反馈</div>
  </div>
  <ion-content class="has-header" scroll="false">
    <div class="list" style="margin-top: 1em;">
      <label class="item item-input" style="position:relative;border:none;background-color: #fff;padding:0;">
        <textarea placeholder="意见反馈" rows="6" style="padding:1.6em;margin-bottom:2em;" ng-model="feed.content" maxlength="40" ></textarea>
        <span style="position:absolute;bottom:.5em;right:1em;color:#bbb;">{{feed.content.length}}/40</span>
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-disabled="!feed.content.length" ng-click="submitFeed()">
          提交反馈
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

