<ion-view cache-view="false">
  <div class="bar bar-header">
    <div class="h1 title">关注</div>
  </div>

  <div class="tabs tabs-top tabs-default gz">
    <div class="col" ng-class="{true:'gzActive', false:'gzDeActive' }[active_content=='concern']">
      <a href class="tab-item disable-user-behavior" ng-class="{active: active_content=='concern'}" ng-click="toConcern('concern')">
        已关注
      </a>
    </div>
    <div class="col" ng-class="{true:'gzActive', false:'gzDeActive' }[active_content=='booked']">
      <a href class="tab-item disable-user-behavior"
         ng-class="{active: active_content=='booked'}" ng-click="setActiveContent('booked')">
        已预约
      </a>
    </div>
    <div class="col" ng-class="{true:'gzActive', false:'gzDeActive' }[active_content=='watched']">
      <a href class="tab-item disable-user-behavior"
         ng-class="{active: active_content=='watched'}" ng-click="toWatched('watched')">
        已带看
      </a>
    </div>
  </div>

  <!-- 已关注开始 -->
  <ion-content has-header="true" class="has-subheader gzContent" ng-show="active_content=='concern'" style="background-color: #f8f8f8;">
    <ion-list>
      <ion-checkbox ng-repeat="gzlp in bookLpArray" ng-model="gzlp.isChecked" ng-checked="gzlp.isChecked" ng-change="getPKLP(gzlp)">{{gzlp.house_name}}</ion-checkbox>
    </ion-list>

    <div style="position: relative;padding: 1em 0;">
      <button class="button button-energized" ng-disabled="!pkBtn" style="position:absolute;top:1em;right:1em;margin-bottom: 1em; font-weight:700;font-size:2em;letter-spacing: .1em;" ng-click="pk()">PK</button>
    </div>
  </ion-content>
  <!-- 已关注结束 -->



  <!-- 已预约开始 -->
  <ion-content has-header="true" class="has-subheader gzContent"  ng-show="active_content=='booked'" style="background-color: #f8f8f8;">

    <div class="list" style="background-color: #fff;" ng-repeat="reservation in reservationArr">
      <label class="item item-icon-left item-icon-right" style="border:none;">
        <i class="icon ion-ios-home-outline"></i>
        预约楼盘
        <span class="item-note yylp">
          {{reservation.house.house_name}}<sup style="background-color:#e77b6e;color:#fff;padding:0.6em;margin-left:0.5rem;border-radius: 1em;" ng-show="reservation.reservation_status == 2">复看预约</sup>
        </span>
        <button class="button icon ion-ios-arrow-right" style="padding:0;min-width: 8px;background-color: #fff;" ng-click="goToHouse(reservation.house.house_id)"></button>
      </label>

      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-person-outline"></i>
        接待人
        <span ng-show="reservation.agent_id" class="item-note jdr">
          {{reservation.agent.agent_nickname}}
        </span>
        <span ng-show="!reservation.agent_id" class="item-note jdr">
          正在为您安排接待人
        </span>
        <button class="button icon button-clear ion-ios-chatbubble msg" ng-click="startChat(2)" ng-show="reservation.agent_id" style="position:absolute;padding:0;margin:0; min-width:20px;"></button>
      </div>

      <div class="item" style="text-align: right;">
        <button class="button button-small btn" ng-click="cancelBook(reservation.reservation_id)">取消预约</button>
      </div>
    </div>

  </ion-content>
  <!-- 已预约结束 -->



  <!-- 已带看开始 -->
  <ion-content has-header="true" class="has-subheader gzContent" ng-show="active_content=='watched'" style="background-color: #f8f8f8;">
    <div class="list" style="background-color: #fff;" ng-repeat="watched in watchedArr">
      <label class="item item-icon-left item-icon-right" style="border:none;">
        <i class="icon ion-ios-home-outline"></i>
        预约楼盘
        <span class="item-note yylp">
          {{watched.house.house_name}}
        </span>
        <button class="button icon ion-ios-arrow-right" style="padding:0;min-width: 8px;background-color: #fff;" ng-click="goToHouse(watched.house.house_id)"></button>
      </label>

      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-person-outline"></i>
        接待人
        <span ng-show="watched.agent_id" class="item-note jdr">
          {{watched.agent.agent_nickname}}
        </span>
        <button class="button icon button-clear ion-ios-chatbubble msg" ng-show="watched.agent_id" style="position:absolute;padding:0;margin:0; min-width:20px;"></button>
      </div>

      <div class="item" style="text-align: right;">
        <button class="button button-small btn" ng-click="reWatch(watched.customer_id, watched.house_id)"> 复看 </button>
      </div>

    </div>
  </ion-content>
  <!-- 已带看结束 -->

</ion-view>


