<ion-view hide-nav-bar="true" hide-back-button="true" view-title="楼盘">
  <ion-side-menus>
    <ion-side-menu side="left" class="leftSide">
      <ion-content>
        <div class="row tx padding" style="display: table !important; width: 100% !important; height: 80px;"  ng-click="goToMemberInfo()">
          <div class="col-90 row" >
            <div class="col-33">
              <img ng-if="userData.customer_thumb_url" ng-src="{{userData.customer_thumb_url}}" />
              <img src="img/tx.jpg" ng-if="!userData.customer_thumb_url" />
            </div>
            <div class="col-67" style="padding-top:6px; font-family: '华文细黑';">
              <h3 ng-if="formatedNickname">{{formatedNickname}}</h3>
              <h3 ng-if="!formatedNickname">登录</h3>
              <h4 ng-if="formatedTelephone">{{formatedTelephone}}</h4>
            </div>
          </div>
          <div class="col-10" style="display: table-cell; vertical-align: middle;">
            <i class="icon ion-ios-arrow-forward"></i>
          </div>
        </div>


        <div class="list my">
          <!--<a class="item item-icon-left item-icon-right" href="#/memberJcq">-->
          <!--<i class="icon ion-cash"></i>-->
          <!--我的叫车券-->
          <!--<span class="badge badge-assertive">3</span>-->
          <!--</a>-->
          <!--<a class="item item-icon-left item-icon-right" href="#">-->
          <!--<i class="icon ion-ribbon-a"></i>-->
          <!--我的积分-->
          <!--<span class="badge badge-assertive">300</span>-->
          <!--</a>-->
          <!--<a class="item item-icon-left" href="#">-->
          <!--<i class="icon ion-ios-cart"></i>-->
          <!--积分商城-->
          <!--</a>-->
          <a class="item item-icon-left" href="#/memberRecommend">
            <i class="icon ion-person-stalker"></i>
            分享推荐
          </a>
        </div>

        <div class="list my">
          <a class="item item-icon-left" href="#/calculator">
            <i class="icon ion-ios-calculator-outline"></i>
            购房计算器
          </a>
          <!--<a class="item item-icon-left" href="#">-->
          <!--<i class="icon ion-ios-heart-outline"></i>-->
          <!--我的评分-->
          <!--</a>-->
          <a class="item item-icon-left" href="#/memberFeedback">
            <i class="icon ion-email-unread"></i>
            我的反馈
          </a>
        </div>

        <div class="list my">
          <a class="item item-icon-left" href="#/guide">
            <i class="icon ion-ios-medical-outline"></i>
            用户指南
          </a>
          <a class="item item-icon-left" href="#/about">
            <i class="icon ion-ios-people"></i>
            关于我们
          </a>
          <!--<a class="item item-icon-left" href="#">-->
          <!--<i class="icon ion-ios-gear"></i>-->
          <!--设置-->
          <!--</a>-->
        </div>
      </ion-content>
    </ion-side-menu>

    <ion-side-menu-content>
      <ion-content>
        <div class="headBar">
          <div class="user" menu-toggle="left"><i class="icon ion-ios-person-outline"></i></div>
          <h2 class="headBarZone">东莞</h2>
          <!--<i class="icon ion-ios-arrow-down" style="font-size: 1.1em;"></i>-->
          <div style="display: inline-block;">
            <label class="item-input-wrapper" style="background: rgba(255, 250, 250, 1);margin-left: .6em;width: 12em;">
              <input type="search" placeholder="请输入楼盘名" style="height:24px;color:#222;width: 200px;">
              <i class="icon ion-ios-search placeholder-icon"></i>
            </label>
          </div>
        </div>

        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
          <ion-slide ng-repeat="slider in sliders">
            <a style="width:100%;text-decoration: none;color:#333;" href="#/tab/house/{{slider.house_id}}">
              <img ng-src="{{slider.house_slider_src}}" alt="{{slider.house_name}}"  />
            </a>
          </ion-slide>
        </ion-slide-box>
        <div class="row housetype padding">
          <div class="col" ng-click="filterHouseType(0)">
            <img src="img/housetype/s1.png" alt="housetype1" />
            <h4>洋房</h4>
          </div>
          <div class="col" ng-click="filterHouseType(1)">
            <img src="img/housetype/s2.png" alt="housetype2" />
            <h4>公寓</h4>
          </div>
          <div class="col" ng-click="filterHouseType(2)">
            <img src="img/housetype/s3.png" alt="housetype3" />
            <h4>写字楼</h4>
          </div>
          <div class="col" ng-click="filterHouseType(3)">
            <img src="img/housetype/s4.png" alt="housetype4" />
            <h4>商铺</h4>
          </div>
          <div class="col" ng-click="filterHouseType(4)">
            <img src="img/housetype/s5.png" alt="housetype5" />
            <h4>别墅</h4>
          </div>
        </div>

        <div class="filter">
          <div class="filter_header" ng-init="filter">
            <div class="row">
              <h4 class="col filter_cate" ng-repeat="ft in filter | limitTo:4 track by $index" ng-click="showFilter(ft.id,ft.lx,$index)">{{filter[$index]['name']}} <i class="icon " ng-class="{true:'ion-arrow-down-b allColor', false:'ion-arrow-up-b'}[($index+1) == key]" ></i></h4>
              <h4 class="col" ng-click="showMoreFilter()">更多 <i class="icon"  ng-class="{true:'ion-arrow-down-b allColor', false:'ion-arrow-up-b'}[showMoreFilterBox]"></i></h4>
            </div>
          </div>

          <div class="filter_zt" ng-show="showFilterBox">
            <ul class="list">
              <li class="item" ng-repeat="item in items" ng-click="filterItems(item.lx,item.fid,$index)">{{item.name}}</li>
              <li ng-show="key == 3">
                <div>
                  自定义价格区间
                  <input type="text" style="border:1px solid #ddd;padding:0;display:inline-block;width:4rem;height:1.5rem;margin-top:0.5rem;margin-bottom: 0.5rem;" ng-model="min_price" placeholder="最低售价" />
                  -
                  <input type="text" style="border:1px solid #ddd;padding:0;display:inline-block;width:4rem;height:1.5rem;margin-top:0.5rem;margin-bottom: 0.5rem;" ng-model="max_price" placeholder="最高售价" />
                  <button class="button button-energized" style="min-height: 1.6rem;height:1.6rem;vertical-align: middle;line-height: 1.6rem;color:#666;" ng-click="customerPrice(min_price,max_price)">提交</button>
                </div>
              </li>
            </ul>
          </div>

          <div class="row moreFilterBox" ng-show="showMoreFilterBox">
            <div class="col-33">
              <ul class="list">
                <li class="item" ng-click="moreTs(filter[4].lx)">{{filter[4].name}}</li>
                <li class="item" ng-repeat="moreFilter in filter" ng-if="$index>4" ng-click="moreFilterItem(moreFilter.lx)">{{moreFilter.name}}</li>
                <!--<li class="item" ng-click="moreFilterItem('sm')">售卖状态</li>-->
                <button class="button button-energized" style="margin: 1em 0;" ng-if="showTs" ng-click="submitTs()">确定</button>
              </ul>
            </div>
            <div class="col-67">
              <ul class="list" ng-if="!showTs">
                <li class="item" style="text-align:left;border-left:1px solid #d1d1d1;" ng-repeat="item in moreItems" ng-click="filterItems(item.lx,item.fid,$index)">{{item.name}}</li>
              </ul>
              <ion-list ng-if="showTs">
                <ion-checkbox class="checkbox-energized" style="height:54px;border-left:1px solid #ddd;text-align: left;" ng-repeat="tsItem in house_featured" ng-model="tsItem.isChecked"  ng-checked="tsItem.isChecked" ng-change="getCheck(tsItem)">{{tsItem.name}}</ion-checkbox>
              </ion-list>
            </div>

          </div>

        </div>

        <div class="filter_jg">
          <ion-list class="list">
            <ion-item class="item row" ng-repeat="lp in result">
              <div class="col-33 padding">
                <a ui-sref="tab.house({id:{{lp.house_id}}})"><img ng-src="{{lp.house_thumb_src}}" width="100%" /></a>
              </div>
              <a style="width:100%;text-decoration: none;color:#333;" href="#/tab/house/{{lp.house_id}}">
                <div class="col-67 padding-top">
                  <h4 class="lpName" ng-bind="lp.house_name"></h4>
                  <div>
                    <span class="lpArea" ng-bind="lp.house_min_area"></span>-<span class="lpArea" ng-bind="lp.house_max_area"></span><span class="lpAreaUnit">m<sup>2</sup></span>
                  </div>
                  <div class="featuredContainer" style="">
                    <span class="lpFeatured" ng-repeat="hf in lp.house_featured track by $index" ng-style="{color: colors[$index % colors.length]}">{{hf}}</span>
                  </div>
                  <h5 class="lpAddress" ng-bind="lp.house_address"></h5>
                </div>
              </a>
            </ion-item>
          </ion-list>
          <ion-infinite-scroll ng-if="showLpInit.hasMore" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
        </div>
      </ion-content>
    </ion-side-menu-content>
  </ion-side-menus>
</ion-view>
